.env
.env.*
node_modules
.git
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor/
Dockerfile
.github/
k8s/
README.md
phpunit.xml
vite.config.js
package-lock.json
package.json
